.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
    background-color: #141414;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 12px 12px 2px 1px rgba(32, 32, 32, 0.747);
    z-index: 1
}

.logo-image {
    width: 7rem;
    height: 6rem;
    margin-left: 3rem;
}

.logo-image-div {
    float: left
}

.header-h3 {
    color: white;
    font-size: 4rem;
    font-family: sans-serif
}
.header-contact {
    align-self: flex-start;
    margin-right: 2rem
}

.contact {
    color: white;
    background-color: #b1955a;
    width: 12rem;
    height: 3rem;
    margin-top: 1rem;
    margin-right: 3rem;
    border-radius: 4rem;
    line-height: 3rem;
    font-weight: 700;
}

.social-div {
    display: contents;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-menu-item {
    color: white;
    font-size:larger;
    text-decoration:none;
}

.first-menu-item:hover{
    color: #b1955a;
}

.main-menu-item:hover{
    color: #b1955a;
}


.main-menu-item {
    color: white;
    margin-left: 4rem;
    font-size: larger;
    text-decoration:none;
}

.phone-number-contact {
    margin-left : 10rem;
    align-self :center
}

.founder-info {
    margin-top: 9rem;
}

.email {
    color:white;
    display: contents
}

.email-icon {
    color: #b1955a;
    padding-left: 1rem
}

.phone-icon {
    padding-right: 1rem;
    font-size: 1.5rem
}

.icon {
    color: #b1955a;
    padding-right: 1rem;
    font-size: 1.5rem
}

.intruduction {
    display: inline-block;
    justify-content: center;
    width: 40rem;
    padding: 1rem;
    background-color: #37393d;
    box-shadow: 12px 12px 2px 1px rgba(32, 32, 32, 0.747);
    margin-right: 2rem;
}

.text {
    color: white
}

.why-us {
    display: inline-grid;
    justify-content: center;
    width: 40rem;
    background-color: #37393d;
    box-shadow: 12px 12px 2px 1px rgba(32, 32, 32, 0.747);
    padding: 1rem;
}

.farawell-message {
    margin-bottom: 0px;
    text-align: right;
    margin-right: 2rem;
}

.background-image {
    background-image: url(https://static.wixstatic.com/media/5574c387a7fb4fa38b99b09526e24008.jpg/v1/fill/w_1908,h_545,al_c,q_85,usm_0.66_1.00_0.01/5574c387a7fb4fa38b99b09526e24008.webp);
    filter: sepia(0.5);
}

.service-main-div {
    width: 33%;
    float: left
}

.service-inner-div {
    width: 60%;
    height: 15rem;
    display: inline-block;
    text-align: left;
    background-color: #37393d;
    box-shadow: 12px 12px 2px 1px rgba(32, 32, 32, 0.747);
}

.service-name {
    color: #b1955a;
    padding-bottom: 2rem;
}

.service-icon-image {
    float: right;
}

.more-info-button {
    background-color: #b1955a;
    color: white;
    box-shadow: 12px 12px 2px 1px rgba(32, 32, 32, 0.747);
}

.footer {
    background-color: rgb(20, 20, 20);
}

.car-card {
    background-color:none;
    opacity: 1;
    transition: 0.3s;
}

.car-card:hover {
    background-color: #37393d;
    box-shadow: 12px 12px 2px 1px rgba(32, 32, 32, 0.747);
    transition:  0.5s;
    opacity: 0.9;
}

.car-card:hover > .more-info-button {
    box-shadow: none
}

.fleet-div {
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
    padding-bottom: 27.75rem;
}

.hamburger-menu {
    display:none
}

.center {
    top: 50%;
    right: 2%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50px;
}

.center:before,
.center:after,
.center div {
    background: #fff;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}

.center:hover:before {
    transform: translateY(12px) rotate(135deg);
}

.center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}

.center:hover div {
    transform: scale(0);
}


.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown-content {
    opacity: 0.9;
    position: absolute;
    width: 20%;
    top: 4rem;
    right: 3.5rem;
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.center:hover + .dropdown-content {
    display: block;
}

.dropdown-content:hover {
    display: block;
}

.dropdown-content a:hover {
    background-color: #b1955a;
}

.inner-email-mobil-view {
    display: none
}

.car-chooser-div {
    display: inline-grid; 
    height: 34rem;
    width: 90rem;
    margin-bottom: 10rem;
    margin-top: 2rem;
}

.founder-infos {
    display: flex;
    flex-direction: row;
    justify-content: center
}
.services{
    display:grid
}

@media only screen and (max-width: 1325px) {
    .main-menu {
        display: none
    }

    .hamburger-menu {
        display:unset
    }

    .social-div {
        display: unset;
        position: absolute;
        top: 2rem;
        left: 42%
    }

    .main-menu-item {
      margin-left: 0;
    }

    .first-menu-item {
        border-bottom: solid;
        border-bottom-width: 0.1rem;
    }

    .main-menu-item {
        border-bottom: solid;
        border-bottom-width: 0.1rem;
    }

    .intruduction {
        margin-right: 0;
        display:unset
    }

    .why-us {
        margin-top: 2rem;
        display:unset;
    }

    .founder-infos{
        display:grid;
    }
   .service-first-row {
        margin-top: 1.5rem;
    }

    .service-row {
        float: left;
        width: 50%;
    }

    .services {
        display: unset
    }

    .service-main-div {
        width:unset;
    }
}

@media only screen and (max-width: 1024px) {
    .fleet-div {
        display: grid;
        padding-bottom: 0rem
    }

    .car-card{
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 625px) {
    .social-div {
        top: 2rem;
        left: 36%;
    }

    /*most csak kivesszük a kocsikat és a képeket hogy tudjunk mobile-ra designolni a home oldalon*/
    .its-gone-now-for-mobile {
        display:none
    }
}


@media only screen and (max-width: 500px) {
    .email {
        display: none;
    }

    .email-icon {
        position: absolute;
        top: 0.4rem;
        left: 5rem;
    }

    .social-div {
        top: 4rem;
        left: 38%;
    }

    .logo-image {
        margin-left:0;
    }

    .center {
        right: -3%;
    }


    .intruduction {
        width:unset
    }

    .why-us {
        width: unset
    }

    .service-main-div{
        width: unset
    }
    
    .service-inner-div {
        width:70%
    }

    .service-row {
        width: unset;
    }

}

body {
    background-color: #333333
}

p {
    color: white
}

h1 {
    color: white
}

h2 {
    color: white
}

h3 {
    color: white
}

h4 {
    color: white
}

h6 {
    color: white
}

ul {
    color: white
}


