.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
    background-color: black;
    width: 100%;
    height: 15rem; 
    flex-direction: row;
    display: flex;
    justify-content: space-between
}

.logo-image {

    width: 25rem;
    margin-left: 2rem
}

.header-h3 {

    color: white;
    font-size: 4rem; 
    font-family: sans-serif
}
.header-contact {
    align-self: flex-start;
    margin-right: 2rem
}

.contact {
    color: white
}

.social-div {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem
}

.main-menu {
    background-color: rgba(52, 52, 52, 0.4);
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: center
}

.first-menu-item {
    color: white;
    font-size:larger
}

.main-menu-item {
    color: white;
    margin-left: 8rem;
    font-size: larger
}

@media only screen and (max-width: 823px) {
    body {
        position:absolute;
    }
}
