.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
    background-color: #141414;
    width: 100%;
    position: fixed;
    top: 0;
}

.logo-image {
    width: 8rem
}

.header-h3 {

    color: white;
    font-size: 4rem; 
    font-family: sans-serif
}
.header-contact {
    align-self: flex-start;
    margin-right: 2rem
}

.contact {
    color: white;
    background-color: #b1955a;
    width: 10rem;
    height: 3rem;
    margin-right: 3rem;
    border-radius: 4rem;
    line-height: 3rem;
    font-weight: 700;
}

.social-div {
    
    display: contents;
  
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-menu-item {
    color: white;
    font-size:larger
}

.main-menu-item {
    color: white;
    margin-left: 4rem;
    font-size: larger
}

.phone-number-contact {
    margin-left : 3rem;
    align-self :center
}

.founder-info {
    margin-top: 10rem;
}

.email {
    color:white;
    display: contents
}

.email-icon {
    color: #b1955a;
    padding-left: 1rem
}

.phone-icon {
    padding-right: 1rem;
    font-size: 1.5rem
}

.icon {
    color: #b1955a;
    padding-right: 1rem;
    font-size: 1.5rem
}

.intruduction {
    display: inline-block;
    justify-content: center;
    width: 40rem;
}

.text {
    color: white
}
.why-us {
    display: inline-grid;
    justify-content: center;
    width: 40rem;
}

.farawell-message {
    margin-bottom: 0px;
    text-align: right;
    margin-right: 2rem;
}

.background-image {
    background-image: url(https://static.wixstatic.com/media/5574c387a7fb4fa38b99b09526e24008.jpg/v1/fill/w_1908,h_545,al_c,q_85,usm_0.66_1.00_0.01/5574c387a7fb4fa38b99b09526e24008.webp)
}

.footer {
    background-color: rgb(20, 20, 20);
  
}

body {
    background-color: #333333
}

p {
    color : white
}

h1 {
    color: white
}

h2 {
    color: white
}

h3 {
    color: white
}

h4 {
    color: white
}

h6 {
    color : white
}

ul {
    color :white
}

@media only screen and (max-width: 823px) {
    body {
        position:absolute;
    }
}
